.cart-main {
  overflow: hidden;

  .cart-banner {
    text-align: center;
    background-image: url('../../assets/shop.jpeg');
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem;
    position: relative;
    height: 316px;

    h1 {
      margin: 0;
      font-size: 2.5rem;
      color: black;
      margin-top: 5.5rem;
    }

    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: black;
      margin-top: 1rem;
    }
  }

  .bill-generate {
    height: 67vh;
    width: 100vw;
    display: flex;
    gap: 20px; 
    padding: 20px;
    align-items: flex-start;

    .cart-items {
      flex: 2; 
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 66.66vw;
      margin-left: 100px;

      .table-of-items {
        width: 100%;
        background-color: transparent;

        table {
          width: 100%;
          border-collapse: collapse;

          .headings {
            tr {
              background-color: #f9f1e7;
              font-weight: bold;
              text-align: center;

              th {
                padding: 10px;
                font-size: 16px;
              }
            }
          }

          .body {
            tr {
              text-align: center;

              td {
                padding: 15px;
                vertical-align: middle;

                &:first-child {
                  width: 100px;

                  .item-img {
                    background-color: #f9f1e7;
                    border-radius: 5px;

                    img {
                      width: 80px;
                      height: 60px;
                      object-fit: fit;
                      border-radius: 8px;
                    }
                  }
                }

                &:nth-child(2) {
                  text-align: left;
                  padding-left: 20px;
                  font-weight: 500;
                  color: #666;
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                  color: #888;
                }

                .quantity-input {
                  width: 50px;
                  height: 30px;
                  text-align: center;
                  border: 1px solid #ddd;
                  border-radius: 4px;
                }

                .remove-icon {
                  width: 20px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

    .cart-totals {
      flex: 1; 
      background-color: #f9f1e7; 
      padding: 20px;
      border-radius: 8px;
      text-align: center;
      max-width: 350px;
      min-height: 300px;
      margin-left: 200px;

      h2 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .totals-details {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        .totals-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 16px;

          span:first-child {
            margin-top: 12px;
            font-weight: bold;
            color: #000;
          }

          .subtotal-amount {    
            color: #b0b0b0; 
          }

          .total-amount {
            font-weight: bold;
            color: #c08d32; 
          }
        }
      }

      .checkout-button {
        margin-top: 26px;
        padding: 10px 20px;
        border: 1px solid #000;
        background-color: transparent;
        color: #000;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
