.container {
  font-family: 'Poppins', sans-serif;

  .custom-card {
    width: 100%;
    max-width: 820px;
    height: auto;
    border: none;
    box-shadow: none;
    margin: 0 auto; // center on large screens
  }

  .card-img-top {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }

  .custom-card .card-body {
    overflow: auto;
  }

  .custom-card .d-flex span {
    font-size: 0.9rem;
    color: #9f9f9f;
  }

  .custom-card .card-text {
    text-align: justify;
    color: #9f9f9f;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 16px;
  }

  .card-readMore {
    text-decoration: underline;
    font-weight: 400;
  }

  .card-title {
    margin-bottom: 16px;
  }

  // Media Query for Smaller Screens
  @media (max-width: 768px) {
    .custom-card {
      // padding: 1rem;
    }

    .custom-card .d-flex {
      flex-direction: column;
      gap: 0.5rem !important;
    }

    .custom-card .d-flex span {
      font-size: 0.85rem;
    }

    .card-title {
      font-size: 1.1rem;
    }

    .card-text {
      font-size: 0.95rem;
    }
  }
}
